-i https://pypi.tuna.tsinghua.edu.cn/simple

# for CPU only
--extra-index-url https://download.pytorch.org/whl/cpu
# for GPU and Cuda 12.9
# --extra-index-url https://download.pytorch.org/whl/cu129

# jupyter server
jupyterlab
ipykernel

# others
numpy
pandas
matplotlib
emoji

# torch
torch==2.8.0
torchvision==0.23.0
#torchaudio==2.8.0

# sklearn
scikit-learn